<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title th:text="${titulo}"></title>
</head>

<body>
<form th:action="@{/cursohabilitados/agregar}" method="POST">
	<h1 th:text="${titulo}"></h1>
	<div>
		<label for="idcurso">ID curso</label>
		<div>
			<input type="text" name="idcurso" id="idcurso" th:value="${cursohabilitado.idcurso}">
		</div>
		<div th:if="${errores != null && errores.containsKey('idcurso')}" th:text="${errores.idcurso}"></div>
		</div>

	</div>
	<div>
		<label for="idmateria">ID Materia</label>
		<div>
			<input type="text" name="idmateria" id="idmateria" th:value="${cursohabilitado.idmateria}">
		</div>
		<div th:if="${errores != null && errores.containsKey('idmateria')}" th:text="${errores.idmateria}"></div>
	</div>
	<div>
		<label for="idprofesor">ID Profesor</label>
		<div>
			<input type="number" name="idprofesor" id="idprofesor" th:value="${cursohabilitado.idprofesor}">
		</div>
		<div th:if="${errores != null && errores.containsKey('idprofesor')}" th:text="${errores.idprofesor}"></div>
	</div>
	<div>
		<div>
			<input type="submit" value="Habilitar">
		</div>
	</div>
</form>
</body>

</html>